<!DOCTYPE html>
<html>
  <head>
    <title>Crear cartón</title>
  </head>
  <body>
    <h1>Crear cartón</h1>
    <form method="POST" action="/cartones/crear">
      <button type="submit">Generar cartón</button>
    </form>
  </body>
</html>
